<p>Hello shitbag named {{ user.username }},</p>
<p>
    To reset your fucking password, click on the shitty link below:
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">Click here, scumbag</a>
</p>

<p>If you're too fucking stupid to follow a simple fucking link, I doubt copying and pasting the link below into the browser's address bar will help, you fucking waste of goddamn oxygen:</p>

<p>{{ url_for('reset_password', token=token, _external=True) }}</p>

<p>If you have not requested a password reset, you're a fucking idiot who deserves the horrific, shitty embrace of death that awaits you. Also, ignore this fucking email and get scared all your shit got hacked.</p>

<p>Go fuck yourself,</p>

<p>The Shitter Team</p>